.zoom_controls {
  --button-size: calc(1em + 16px);
  display: grid;
  grid-template-columns: var(--button-size) var(--button-size) var(--button-size);
  font-size: 1rem;
  align-self: end;
}
.controls {
  --button-size: calc(1em + 16px);
  display: grid;
  grid-template-columns: var(--button-size) var(--button-size) var(--button-size);
  font-size: 2rem;
  align-self: end;
}

.playback_speed {
  overflow: hidden;
  font-size: .6em;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: tabular-nums;
  color: hsl(0, 0, 50%);
  height: 100%;
  padding-top: 15%;
  text-align: center;
}
