.button_row {
  margin-top: 1.5em;
  display: flex;
  column-gap: 0.7em;
  justify-content: center;
}

.key_already_in_use, .action_already_in_use,
.shortcut_preset_export_error, .shortcut_preset_import_error {
  width: 50vw;
}

.switch_leads_to_duplicate_keys {
  width: 70vw;
}
