.show_on_hover_buttons {
  display: flex;
  & > :not(.show_on_hover) {
    flex-grow: 1;
    flex-shrink: 1;
  }
  & > .show_on_hover {
    flex: 0 0 2em;
    opacity: 0;
    transition: background-color .2s, opacity .2s;
    border: none;
    background-color: hsl(0, 0%, 0%, 0);
    &:hover:not(:disabled) {
      background-color: hsl(0, 0%, 0%, .2);
    }
  }
  &:hover > .show_on_hover {
    opacity: 1;
  }

}


.button_row {
  margin-top: 1.5em;
  display: flex;
  column-gap: 0.7em;
  justify-content: center;
}
