.show_on_hover_buttons {
    display: flex;
    & > :not(.show_on_hover) {
      flex-grow: 1;
      flex-shrink: 1;
    }
    & > .show_on_hover {
      flex: 0 0 2em;
      opacity: 0;
      transition: opacity .2s;
      border: none;
      background-color: unset;
    }
    &:hover > .show_on_hover {
      opacity: 1;
    }

}

.intro {
  margin: .9em 3em;
  opacity: 0.5;
  font-family: Arial, helvetica, sans-serif;
  font-size: .9em;
}
.shortcut_list {
  font-family: Arial, helvetica, sans-serif;
  padding: 0 2em;

  --column-gap: .7em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  column-gap: var(--column-gap);
  .item {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    overflow: hidden;
    .button {
      &.activated {
        background-color: hsl(0, 0%, 70%);
      }
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;

      .keys {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: fit-content 0 0;
        max-width: 50%;
        display: inline-block;
        .key {
          display: inline-block;
          margin-left: .7em;
          &:not(:last-child)::after {
            content: ", ";
          }
        }
      }
    }
    .title {
      margin-left: .7em;
      display: inline-block;
      flex-grow: 2;
      flex-shrink: 2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }
  }
}
.title {
  &:not(input):empty, &:is(input:placeholder-shown) {
    color: hsl(195, 20%, 50%, .5);
    &::after{
      content: "<empty>"
    }
  }
}
.current_group_select {
  margin: 1.5em;
  font-family: Arial, helvetica, sans-serif;
}

.edit_dialog {
  max-width: 50vw;
  h2 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    column-gap: 1.3em;
    .icon {
      font-size: 2em;
      flex: 0 0 fit-content;
    }
    .title {
      flex: 1;
      &.invalid_title {
        background-color: hsl(0, 70%, 70%);
      }
    }
  }
  h3 {}
  .shortcuts {
    padding: 1.5em;
    width: 100%;
    box-sizing: border-box;
    .add_button_small {
      border: none;
      background-color: unset;
    }
    .key_list {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      width: 100%;
      .shortcut_row {
        display: flex;
        flex-flow: row nowrap;
        &:nth-child(2n) {
          background-color: hsl(0, 0%, 0%, .05);
        }
        &:nth-child(2n + 1) {
          background-color: hsl(0, 0%, 0%, .1);
        }
        button {
          flex: 0 0 2em;
          border: none;
          background-color: unset;
        }
        .shortcut_key  {
          height: 1.3lh;
          box-sizing: border-box;
          flex-grow: 1;
        }
        &.editing_key .shortcut_key {
          background-color: hsl(0, 0%, 100%, .8);
          border: 1px solid hsl(0, 0%, 0%, .8);
          &:empty{
            color: silver;
            &::after {
              content: "<record keystroke>";
            }
          }
        }
      }
    }
  }
}
.button_row {
  margin-top: 1.5em;
  display: flex;
  column-gap: 0.7em;
  justify-content: center;
}
.error_popup {
  max-width: 50vw;
  div {
    margin: 1.5em 0;
  }
}
