.shortcuts {
  --nr-column-width: 2em;
  --key-column-width: 15em;
  --delete-column-width: 2em;
  --action-column-width: max(
  calc(100% - var(--nr-column-width) - var(--key-column-width) - var(--delete-column-width)),
  40em);
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5em;

  th {
    text-align: left;
  }
  th, td {
    padding: .3em;
  }
tbody tr:nth-child(2n + 1) {
  background-color: hsl(0, 0%, 70%);
}

  .nrcolumn {
    width: var(--nr-column-width);
  }
  .keycolumn {
    width: var(--key-column-width);
    &.recordKey {
      color: hsl(0, 0%, 30%);
    }
    &.duplicate:not(.recordKey) {
      background-color: hsl(0, 90%, 50%);
    }
    .buttons{
      float: right;
    }
  }
  .actioncolumn {
    width: var(--action-column-width);
  }
  .deletecolumn {
    width: var(--delete-column-width);
  }

  .keycolumn, .actioncolumn, .deletecolumn {
    border-left: 1px solid;
  }
}

.submitbuttons {
  margin-top: 1.5em;
  button {
    margin-right: .7em;
  }
}

.duplicateserrormessage {
  background-color: hsl(0, 90%, 50%);
  font-weight: bold;
}
