.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(10px);
}

.popup {
  position: absolute;
  left: 5vw;
  top: 5vh;
  width: 90vw;
  height: 90vh;
  background-color: silver;
  overflow: scroll;
  padding: 3em 0;
  box-sizing: border-box;
}

.keycombination {
  display: inline-block;
}
.keycombination + .keycombination::before {
  content: ", ";
}

.explanation {
  font-size: .8em;
}

.shortcutGroups {
  --select-width: 1em;
  --name-width: 10em;
  --operations-width: 7em;
  --shortcuts-width: max(
  calc(100% - var(--select-width) - var(--name-width) - var(--operations-width)),
  40em);
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5em;
  th {
    text-align: left;
  }
  th, td {
    padding: .3em;
  }
  tbody tr:nth-child(2n + 1) {
    background-color: hsl(0, 0%, 70%);
  }

  tr.selected {
    border: 2px solid hsl(120, 90%, 70%);
  }

  .shortcutSelect {
    width: var(--select-width);
    span {
      cursor: pointer;
    }
  }

  .shortcutGroupsName {
    width: var(--name-width);
    &:not(th) {
      border-left: 1px solid;
    }
    input {
      width: calc(100% - 4px);
      background-color: transparent;
      border: none;
    }
    &.duplicate {
      background-color: hsl(0, 90%, 50%);
    }
  }
  .shortcutGroupsShortcuts {
    width: var(--shortcuts-width);
    border-left: 1px solid;
  }
  .shortcutGroupsOperations {
    width: var(--operations-width);
    border-left: 1px solid;
  }
}

.sectionbuttons {
  margin-top: 0.5em;
  button {
    margin-right: .3em;
  }
}

.submitbuttons {
  margin-top: 1.5em;
  .errormessage {
    background-color: hsl(0, 90%, 50%);
    margin-bottom: .7em;
    padding: .7em;
  }
  button {
    margin-right: .7em;
  }
}

