.shortcuts {
  font-size: 0.8em;
  font-family: Arial, helvetica, sans-serif;
  padding: 0 2em;

  h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
  }
  .disabled {
    color: silver;
  }
  tr.fired {
    background-color: red;
  }
  tr:not(.fired) {
    background-color: lightblue;
    transition: background-color 1s;
  }
  position: fixed;
  top: 2vh;
  left: 2vh;
  width: calc(100vw - 4vh);
  height: 30vh;
  background-color: lightblue;
  border-radius: 1em;
  overflow: hidden;
  display: none;
  &.visible {
    display: grid;
  }
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  & > * {
    height: 100%;
    overflow-y: scroll;
  }
}
