.canvas {
  max-width: 100%;
  max-height: 100%;
  background-color: blue;

  &.dummy {
    background-color: grey;
  aspect-ratio: 16 / 9;
  }
}

.overlay {
  position: absolute;
  --box-stroke-width: 3px;
  --text-width: 2.1em;
  --text-height: 1lh;
  font-size: .8em;
  font-family: Arial, helvetica, sans-serif;
  font-variant-numeric: tabular-nums;
  .detection {
    opacity: calc(var(--box-alpha) * 100%);
    .box {
      fill: none;
      stroke: var(--box-colour);
      stroke-width: var(--box-stroke-width);
      x: calc((var(--cx) - var(--width) / 2) * 100%);
      y: calc((var(--cy) - var(--height) / 2) * 100%);
      width: calc(var(--width) * 100% + var(--box-stroke-width) / 2);
      height: calc(var(--height) * 100% + var(--box-stroke-width) / 2);
    }
    .confidence_background {
      stroke: none;
      fill: var(--box-colour);
      x: max(0%, min( calc(100% - var(--text-width)), calc((var(--cx) + var(--width) / 2) * 100% - var(--text-width) + var(--box-stroke-width))));
      y: calc(max(0%, min(100% - var(--text-height), (var(--cy) + var(--height) / 2) * 100%)));
      width: var(--text-width);
      height: var(--text-height);
    }
    .confidence_text {
      stroke: none;
      fill: white;
      transform: translate(
      calc(max(0%, min(100% - var(--text-width), (var(--cx) + var(--width) / 2) * 100% - var(--text-width) + var(--box-stroke-width))) + 1px),
      calc(max(0%, min(100%, (var(--cy) + var(--height) / 2) * 100% + .8lh)))
      );
    }
  }
}
