.canvas {
  max-width: 100%;
  max-height: 100%;
  background-color: blue;

  &.dummy {
    background-color: grey;
    aspect-ratio: 16 / 9;
  }
}

.overlay {
  position: absolute;
  --box-stroke-width: 3px;
  --text-width: 2.1em;
  --text-height: 1lh;
  --text-size: .8em;
  font-size: var(--text-size);
  font-family: Arial, helvetica, sans-serif;
  font-variant-numeric: tabular-nums;
  .detection {
    &.hide {

    }
    &.hide_confidence {
      .confidence_background, .confidence_text {
        display: none;
      }
    }
    &.outer {
      --vertical_shift: calc(var(--box-stroke-width) + var(--text-height));
      --horizontal_shift: var(--box-stroke-width);
    }
    &.inner {
      --vertical_shift: 0px;
      --horizontal_shift: 0px;
    }
    &.bottom {
      --preferred_y: calc((var(--cy) + var(--height) / 2) * 100% - var(--text-height) + var(--vertical_shift));
    }
    &.top {
      --preferred_y: calc((var(--cy) - var(--height) / 2) * 100% - var(--vertical_shift));
    }
    &.left {
      --preferred_x: calc((var(--cx) - var(--width) / 2) * 100% - var(--horizontal_shift))
    }
    &.center {
      --preferred_x: calc(var(--cx) * 100% - var(--text-width) / 2);
    }
    &.right {
      --preferred_x: calc((var(--cx) + var(--width) / 2) * 100% - var(--text-width) + var(--horizontal_shift));
    }
    --textbox-x: calc(clamp(0%, var(--preferred_x), 100% - var(--text-width)));
    --textbox-y: calc(clamp(0%, var(--preferred_y), 100% - var(--text-height)));
    opacity: calc(var(--box-alpha) * 100%);
    .box {
      fill: none;
      stroke: var(--box-colour);
      stroke-width: var(--box-stroke-width);
      x: calc((var(--cx) - var(--width) / 2) * 100% - var(--box-stroke-width) / 2);
      y: calc((var(--cy) - var(--height) / 2) * 100% - var(--box-stroke-width) / 2);
      width: calc(var(--width) * 100% + var(--box-stroke-width));
      height: calc(var(--height) * 100% + var(--box-stroke-width));
    }
    .confidence_background {
      stroke: none;
      fill: var(--box-colour);
      x: var(--textbox-x);
      y: var(--textbox-y);
      width: var(--text-width);
      height: var(--text-height);
    }
    .confidence_text {
      stroke: none;
      fill: var(--text-colour);
      transform: translate(
      calc(var(--textbox-x) + 1px),
      calc(var(--textbox-y) + var(--text-height) - .2lh)
      );
    }
  }
}
