body {
  padding: 0;
  margin: 0;
  --sidebar-width: 1.7em;
  --detectionbar-height: min(5em, 10vh);
  --behaviour-height: 5em;
}

kbd {
  font-size: .8em;
  padding: .1rem .3em;
  border: 1px solid black;
  min-width: 1.5rem;
}

kbd + kbd {
  margin-left: .2rem;
}

.viewer {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows:
  1fr
  var(--detectionbar-height)
  var(--behaviour-height)
  ;
  grid-template-areas:
  "sidebar videoplayer"
  "sidebar detectionbar"
  "sidebar behaviour"
  ;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-area: sidebar;
  background-color: green;
}

.videoplayer {
  grid-area: videoplayer;
  background-color: red;
  overflow: scroll;
}

.detectionbar {
  grid-area: detectionbar;
}

.behaviour {
  grid-area: behaviour;
  background-color: orange;
}
