body {
  padding: 0;
  margin: 0;
  --sidebar-width: 2.1em;
  --detectionbar-height: min(5em, 10vh);
  --behaviour-height: 5em;
  --playerinfo-width: 10em;
  position: fixed;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
  0 1px 1px rgba(0, 0, 0, 0.2),
  0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  position: relative;
}

kbd + kbd {
  margin-left: 1em;
  &::before {
    content: "+";
    position: absolute;
    left: -.5em;
    transform: translateX(-50%);
  }
}

.viewer {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr var(--playerinfo-width);
  grid-template-rows:
  1fr
  var(--detectionbar-height)
  var(--behaviour-height)
  ;
  grid-template-areas:
  "sidebar videoplayer playerinfo"
  "sidebar detectionbar detectionbar"
  "sidebar behaviour behaviour"
  ;
  &.no_controls {
    grid-template-areas:
    "sidebar videoplayer videoplayer"
    "sidebar detectionbar detectionbar"
    "sidebar behaviour behaviour"
    ;
  }
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-area: sidebar;
}

.videoplayer {
  grid-area: videoplayer;
  overflow: hidden;
}
.playerinfo {
  grid-area: playerinfo;
  display: grid;
  grid-template-rows: auto auto

}

.detectionbar {
  grid-area: detectionbar;
}

.behaviour {
  grid-area: behaviour;
  background-color: hsl(140, 50%, 95%);
  overflow: scroll;
}
