h1 {

}
.explanation {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;

}
.files {
  border: .2em solid hsl(240, 100%, 50%);
}

.version {
  width: 100%;
  text-align: right;
  font-size: .8em;
  font-style: italic;
  &::before {
    content: "version: ";
  }
}
